@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
  }
}

@layer components {
  .solidshadow {
    @apply shadow-[8px_8px_0px_0px_rgba(28,0,56,0.7)] hover:translate-y-1 hover:translate-x-1 hover:shadow-[4px_4px_0px_0px_rgba(28,0,56,0.7)] hover:z-0 transition-all duration-100;
  }
}
