---
import Card from "../layouts/card.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>dp-web</title>
  </head>
  <body class="bg-sky-100">
    <div class="w-4/6 mx-auto max-w-6xl">
      <nav class="fixed box-border w-4/6 mx-auto max-w-6xl">
        <div
          class="bg-purple-500 border-purple-200 border-4 rounded-full p-5 my-3 flex flex-row justify-around text-white font-mono font-light outline outline-2 outline-black z-[10000]"
        >
          <h1 class="text-inherit hover:text-purple-800">DANIEL PALUDAN</h1>
          <h1 class="text-inherit hover:text-purple-800">PROJECTS</h1>
          <h1 class="text-inherit hover:text-purple-800">PORTFOLIO</h1>
          <h1 class="text-inherit hover:text-purple-800">SKILLS</h1>
          <h1 class="text-inherit hover:text-purple-800">CONTACT ME</h1>
        </div>
      </nav>
      <div class="p-12"></div>
      <div class="h-96 flex justify-between">
          <h1 class="text-9xl font-serif my-auto tracking-wide">Daniel<br>Paludan</h1>
          <div class="rounded-full bg-neutral-100 aspect-square m-10 outline-black outline-2 outline"></div>

      </div>
      <div class="flex flex-row justify-between">
        <Card>Card 1 <br> with adaptive height <br> <br> ...</Card>
        <Card>Welcome to my site</Card>
        <Card>Work in progress</Card>
      </div>
      <p class="text-neutral-800 font-serif">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus
        risus vel placerat interdum. Donec sagittis lorem ipsum, auctor commodo
        nibh accumsan id. Duis condimentum consequat orci, sed venenatis urna
        interdum in. Suspendisse non tortor mauris. Aliquam porttitor nunc quis
        lacus tristique tristique. Phasellus arcu justo, volutpat sit amet metus
        a, ultricies imperdiet sem. Curabitur mauris justo, suscipit nec
        interdum sit amet, venenatis id velit. In laoreet, justo ac volutpat
        aliquet, nulla lacus semper lacus, nec tempus sapien leo eu nisi. Nullam
        tortor nisi, gravida eu turpis vitae, pellentesque euismod nibh. Mauris
        lobortis tellus at ullamcorper vulputate. Sed et auctor est, et
        vulputate est. Suspendisse interdum ex nulla, et scelerisque velit
        venenatis eu. Pellentesque venenatis eu velit sit amet porttitor. Cras
        sodales, sem in consectetur consectetur, urna turpis aliquam orci,
        tincidunt cursus tortor sapien ac mi. Nam faucibus tortor enim, non
        accumsan neque molestie ut. Aenean bibendum magna ut sapien tincidunt,
        vel dictum neque consectetur.
        <br /><br />
        Vestibulum fermentum venenatis ex non sodales. Vestibulum magna sapien, suscipit
        quis nibh sit amet, rhoncus facilisis urna. Mauris luctus mauris eu ante
        egestas, et pretium justo vestibulum. Nullam tincidunt vestibulum sagittis.
        Vivamus vitae purus id erat cursus interdum in sit amet libero. Nunc ipsum
        mi, vestibulum ac eleifend condimentum, euismod eleifend arcu. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Mauris ultricies placerat nulla, vitae malesuada nisi tincidunt vitae. Ut
        porttitor augue ut porta iaculis. Aliquam interdum sagittis nulla eu tincidunt.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Vivamus ultricies elit eget mollis rhoncus. Integer egestas ultrices imperdiet.
        <br /><br />
        Donec tempor tellus in purus ultrices, non sollicitudin purus sagittis. Proin
        et nisl quis arcu ullamcorper volutpat eget id mi. Ut non turpis mollis,
        accumsan velit vel, laoreet dui. Orci varius natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Nulla ultrices leo nec neque
        rhoncus feugiat. Vestibulum fermentum, nibh et aliquet dapibus, nibh neque
        iaculis odio, lacinia fringilla enim arcu nec metus. Suspendisse in mi porta,
        pharetra nisl sed, dapibus ipsum. Aliquam sed sapien nec felis tincidunt
        egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Sed vehicula aliquet elit non pulvinar. Praesent
        pulvinar velit sit amet suscipit eleifend. Suspendisse dictum efficitur odio
        non fermentum. Donec vitae tempus leo. Aliquam luctus lectus in felis mollis,
        in lacinia est ullamcorper.
        <br /><br />
        Etiam auctor nunc at metus mollis eleifend. Quisque dignissim, ex in blandit
        ullamcorper, massa enim accumsan mauris, quis interdum massa ipsum sed enim.
        Mauris et sapien quis libero maximus ornare. Morbi elementum in quam sed
        ornare. Etiam pharetra nec arcu vel euismod. Sed blandit risus non nunc egestas,
        eget maximus ante euismod. Nullam sodales, ante quis rhoncus ultricies, urna
        velit lobortis dui, a finibus augue mauris quis quam. Cras bibendum nisi
        sed feugiat scelerisque. Duis eget sem elit. Donec at dui consequat, rutrum
        ipsum eget, tempor sem. Vivamus cursus justo eu odio posuere molestie. Curabitur
        a augue ante. Nulla elementum tincidunt massa, id hendrerit nunc. Morbi dictum
        quam libero, in interdum nisi ultrices et. Mauris consectetur gravida turpis,
        blandit imperdiet dui molestie ultricies. Etiam sit amet vehicula metus,
        ac cursus augue.
        <br /><br />
        Cras faucibus lorem ligula, vitae euismod urna pulvinar non. Nunc eleifend
        maximus nunc at maximus. Duis feugiat, nisi eget vehicula auctor, dolor diam
        venenatis metus, condimentum pharetra orci lectus in augue. Sed tristique
        finibus dui eu sodales. Aenean varius felis sagittis magna ullamcorper mollis.
        Vivamus pellentesque, massa ut elementum placerat, ante urna porta nulla,
        et semper nisi diam sed nunc. Aenean maximus volutpat dignissim. Vivamus
        vulputate nunc id neque pharetra, non ultricies eros convallis.
      </p>
    </div>
  </body>
</html>
