---
import Card from "../layouts/card.astro";
import Navbar from "../layouts/navbar.astro";
import Skillcard from "../layouts/skillcard.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1"
		/>
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="./main.css" />
		<title>dp-web</title>
	</head>
	<body class="bg-sky-100">
		<nav class="flex justify-center z-0">
			<Navbar />
		</nav>

		<div class="p-10"></div>
		<div class="relative w-full md:px-5 overflow-x-clip flex justify-center">
			<div class="relative w-5/6 max-w-6xl">
				<div
					class="rounded-full bg-green-300 h-96 w-96 absolute top-24 -left-5 -z-10 filter mix-blend-multiply blur-2xl animate-blob"
				>
				</div>
				<div
					class="rounded-full bg-amber-300 h-96 w-96 absolute -top-10 left-36 -z-10 filter mix-blend-multiply blur-2xl animate-blob"
					style="animation-delay: 5s;"
				>
				</div>
				<div
					class="rounded-full bg-pink-300 h-96 w-96 absolute top-32 left-72 -z-10 filter mix-blend-multiply blur-2xl animate-blob"
					style="animation-delay: 10s;"
				>
				</div>
			</div>
		</div>

		<div
			class="w-5/6 mx-auto max-w-6xl flex flex-col md:flex-row flex-wrap justify-between items-center align-middle relative"
			style="overflow-clip-margin: ;"
		>
			<h1
				class="text-6xl font-semibold font-serif tracking-wide my-10 text-white drop-shadow-lg"
			>
				Daniel<br />Paludan
			</h1>
			<div
				class="rounded-full bg-neutral-100 aspect-square w-72 my-10 outline-black outline-2 outline overflow-hidden shrink-0"
			>
				<img
					src="profilepic.jpeg"
					alt="Profile picture"
					class="aspect-square"
				/>
			</div>
		</div>
		<div class="bg-yellow-400 outline outline-2 outline-black">
			<div
				class="flex flex-row justify-between w-5/6 mx-auto max-w-6xl gap-6 -z40"
			>
				<Card>
					<p class="text-center">Check out my university projects</p>
					<div class="h-4"></div>
					<a href="./projects/">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1"
							stroke="currentColor"
							class="w-12 h-12 stroke-purple-900 border-b-2 border-transparent hover:border-b-2 hover:border-purple-950 transition-all box-border duration-200 mx-auto"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
						</svg>
					</a>
				</Card>
				<Card>
					<p class="text-center">Site under construction ...</p>
					<div class="h-4"></div>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1"
						stroke="currentColor"
						class="w-12 h-12 stroke-purple-900 mx-auto"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z"
						></path>
					</svg>
				</Card>
				<Card>
					<p class="text-center">Welcome to my site...</p>
					<div class="h-4"></div>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1"
						stroke="currentColor"
						class="w-12 h-12 stroke-purple-900 mx-auto"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418"
						></path>
					</svg>
				</Card>
			</div>
		</div>
		<div class="m-5"></div>
		<section class="bg-fuchsia-50 outline outline-2 outline-black py-5">
			<div class="w-5/6 max-w-6xl mx-auto">
				<h2 class="text-center text-3xl mb-10">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="w-8 h-8 inline relative -top-0.5"
					>
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"></path>
					</svg> SKILLS
				</h2>
				<div
					class="flex flex-row flex-wrap gap-5 md:gap-10 justify-center items-center mb-10"
				>
					<Skillcard textcolor="text-indigo-700" bgcolor="bg-indigo-50">
						<h3 class="font-bold">UX Evaluation</h3>
						<p>Designing and conducting user experience evaluation tests.</p>
					</Skillcard>
					<Skillcard textcolor="text-emerald-700" bgcolor="bg-emerald-50">
						<h3 class="font-bold">UI Design</h3>
						<p>Including prototyping and development.</p>
					</Skillcard>
					<Skillcard textcolor="text-pink-700" bgcolor="bg-pink-50">
						<h3 class="font-bold">Web development</h3>
						<p>Mostly static websites.</p>
					</Skillcard>
					<Skillcard textcolor="text-amber-700" bgcolor="bg-amber-50">
						<h3 class="font-bold">Android development</h3>
						<p>Experience using the Flutter framework.</p>
					</Skillcard>
					<Skillcard textcolor="text-rose-700" bgcolor="bg-rose-50" />
				</div>
				<h2 class="text-center text-3xl mb-10">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="currentColor"
						class="w-8 h-8 inline relative -top-0.5"
					>
						<path
							fill-rule="evenodd"
							d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
							clip-rule="evenodd"></path>
					</svg>

					 BADGES
				</h2>
				<div
					class="flex flex-row justify-center gap-10 md:gap-20 items-start flex-wrap"
				>
					<blockquote
						class="badgr-badge bg-white p-7 rounded-3xl outline outline-2 outline-black"
						style='font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;'
					>
						<a
							href="https://api.badgr.io/public/assertions/M8vP5RsjQvqSzBxvJCJ0mQ?identity__email=dpalud20%40student.aau.dk"
							><img
								width="120px"
								height="120px"
								src="https://api.badgr.io/public/assertions/M8vP5RsjQvqSzBxvJCJ0mQ/image"
							/></a
						><p
							class="badgr-badge-name pt-2"
							style="hyphens: auto; overflow-wrap: break-word; word-wrap: break-word; margin: 0; font-size: 16px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; text-align: left; color: #05012c;"
						>
							UX physiology '22
						</p><p
							class="badgr-badge-date"
							style="margin: 0; font-size: 12px; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #555555;"
						>
							<strong
								style="font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #000;"
								>Awarded:
							</strong>4. jul. 2023
						</p><script
							async="async"
							src="https://badgr.com/assets/widgets.bundle.js"></script>
					</blockquote>

					<blockquote
						class="badgr-badge bg-white p-7 rounded-3xl outline outline-2 outline-black"
						style='font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;'
					>
						<a
							href="https://api.badgr.io/public/assertions/XF2CvCp5ThmVRqCUATa_ow?identity__email=dpalud20%40student.aau.dk"
							><img
								width="120px"
								height="120px"
								src="https://api.badgr.io/public/assertions/XF2CvCp5ThmVRqCUATa_ow/image"
							/></a
						><p
							class="badgr-badge-name pt-2"
							style="hyphens: auto; overflow-wrap: break-word; word-wrap: break-word; margin: 0; font-size: 16px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; text-align: left; color: #05012c;"
						>
							UX modelling '22
						</p>
						<p
							class="badgr-badge-date"
							style="margin: 0; font-size: 12px; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #555555;"
						>
							<strong
								style="font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #000;"
								>Awarded:
							</strong>27. jun. 2022
						</p><script
							async="async"
							src="https://badgr.com/assets/widgets.bundle.js"></script>
					</blockquote>
				</div>
			</div>
		</section>
	</body>
</html>
