<div class="w-72 my-10 flex flex-col rounded-3xl bg-slate-100 overflow-hidden outline outline-2 outline-black shadow-[8px_8px_0px_0px_rgba(28,0,56,0.7)] hover:translate-y-1 hover:translate-x-1 hover:shadow-[4px_4px_0px_0px_rgba(28,0,56,0.7)] hover:z-0 transition-all duration-100">
    <div class="h-10 p-1.5 bg-purple-400 flex-row flex justify-end outline outline-2 outline-black">
        <div class="rounded-full bg-green-400 aspect-square h-full border-2 border-black mx-1"></div>
        <div class="rounded-full bg-amber-400 aspect-square h-full border-2 border-black mx-1"></div>
        <div class="rounded-full bg-red-400 aspect-square h-full border-2 border-black mx-1"></div>
    </div>
    <p class="font-serif p-2">
        <slot>Input text here</slot>

    </p>
</div>