<div class="w-72 h-fit my-10 flex flex-col rounded-3xl bg-slate-100 overflow-hidden outline outline-2 outline-black shadow-[8px_8px_0px_0px_rgba(28,0,56,0.7)] hover:translate-y-1 hover:translate-x-1 hover:shadow-[4px_4px_0px_0px_rgba(28,0,56,0.7)] hover:z-0 transition-all duration-100 z-10">
    <div class="h-8 p-1.5 md:h-10 md:p-1.5 bg-purple-400 flex-row flex justify-end outline outline-2 outline-black gap-1">
        <div class="rounded-full bg-green-400 aspect-square h-full border-2 border-black"></div>
        <div class="rounded-full bg-amber-400 aspect-square h-full border-2 border-black"></div>
        <div class="rounded-full bg-red-400 aspect-square h-full border-2 border-black"></div>
    </div>
    <div class="p-2 flex flex-col align-middle justify-items-center justify-center text-ellipsis">
        <slot >Input text here</slot>

    </div>

</div>