<nav class="fixed box-border w-5/6 mx-auto max-w-6xl z-50">
  <div
    class="bg-purple-500 border-purple-200 border-4 rounded-full p-5 my-3 flex flex-row justify-between align-middle px-10 text-white font-mono font-light outline outline-2 outline-black"
  >
    <a href="./" class="text-inherit hover:text-purple-800">
      <svg
        id="dp-logo"
        data-name="dp-logo"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 50 50"
        class="fill-white h-full hover:fill-purple-800 transition-all duration-100"
      >
        <path
          d="m41.05,5.76C36.03,1.92,29.09,0,20.22,0H0v50h15.52V14.28h5.24c8.89,0,13.34,3.39,13.34,10.16,0,6.4-3.56,9.96-10.69,10.68v14.88c7.69-.14,14-2.52,18.94-7.13,5.1-4.76,7.65-10.9,7.65-18.43s-2.98-14.1-8.95-18.68Z"
        ></path>
      </svg>
    </a>

    <a
      href="./projects/"
      class="text-inherit hover:text-purple-800 hidden md:inline transition-all duration-100"
      >PROJECTS</a
    >
    <a
      href="./portfolio/"
      class="text-inherit hover:text-purple-800 hidden md:inline transition-all duration-100"
      >PORTFOLIO</a
    >
    <a
      href="./skills/"
      class="text-inherit hover:text-purple-800 hidden md:inline transition-all duration-100"
      >SKILLS</a
    >
    <a
      href="./contact/"
      class="text-inherit hover:text-purple-800 hidden md:inline transition-all duration-100"
      >CONTACT ME</a
    >

    <div class="flex items-center group relative md:hidden" tabindex="0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6 hover:fill-purple-800 focus:fill-purple-800 transition-all duration-100"
      >
        <path
          fill-rule="evenodd"
          d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
          clip-rule="evenodd"></path>
      </svg>
      <div
        data-name="content"
        class="bg-purple-500 absolute right-0 top-8 p-5 rounded-md w-64 flex flex-col h-auto overflow-hidden gap-8 scale-0 group-focus:scale-100"
      >
        <a
          href="./projects/"
          class="text-inherit hover:text-purple-800 transition-all duration-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 inline"
          >
            <path
              fill-rule="evenodd"
              d="M9.664 1.319a.75.75 0 01.672 0 41.059 41.059 0 018.198 5.424.75.75 0 01-.254 1.285 31.372 31.372 0 00-7.86 3.83.75.75 0 01-.84 0 31.508 31.508 0 00-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 013.305-2.033.75.75 0 00-.714-1.319 37 37 0 00-3.446 2.12A2.216 2.216 0 006 9.393v.38a31.293 31.293 0 00-4.28-1.746.75.75 0 01-.254-1.285 41.059 41.059 0 018.198-5.424zM6 11.459a29.848 29.848 0 00-2.455-1.158 41.029 41.029 0 00-.39 3.114.75.75 0 00.419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 101.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 013.095 2.348.75.75 0 00.992 0 26.547 26.547 0 015.93-3.95.75.75 0 00.42-.739 41.053 41.053 0 00-.39-3.114 29.925 29.925 0 00-5.199 2.801 2.25 2.25 0 01-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 01-1.084 3.45 26.503 26.503 0 00-1.281-.78A5.487 5.487 0 006 12v-.54z"
              clip-rule="evenodd"></path>
          </svg>

           UNIVERSITY PROJECTS</a
        >
        <a
          href="./portfolio/"
          class="text-inherit hover:text-purple-800 transition-all duration-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 inline"
          >
            <path
              fill-rule="evenodd"
              d="M6 3.75A2.75 2.75 0 018.75 1h2.5A2.75 2.75 0 0114 3.75v.443c.572.055 1.14.122 1.706.2C17.053 4.582 18 5.75 18 7.07v3.469c0 1.126-.694 2.191-1.83 2.54-1.952.599-4.024.921-6.17.921s-4.219-.322-6.17-.921C2.694 12.73 2 11.665 2 10.539V7.07c0-1.321.947-2.489 2.294-2.676A41.047 41.047 0 016 4.193V3.75zm6.5 0v.325a41.622 41.622 0 00-5 0V3.75c0-.69.56-1.25 1.25-1.25h2.5c.69 0 1.25.56 1.25 1.25zM10 10a1 1 0 00-1 1v.01a1 1 0 001 1h.01a1 1 0 001-1V11a1 1 0 00-1-1H10z"
              clip-rule="evenodd"></path>
            <path
              d="M3 15.055v-.684c.126.053.255.1.39.142 2.092.642 4.313.987 6.61.987 2.297 0 4.518-.345 6.61-.987.135-.041.264-.089.39-.142v.684c0 1.347-.985 2.53-2.363 2.686a41.454 41.454 0 01-9.274 0C3.985 17.585 3 16.402 3 15.055z"
            ></path>
          </svg>

           PORTFOLIO</a
        >
        <a
          href="./skills/"
          class="text-inherit hover:text-purple-800 transition-all duration-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 inline"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path>
          </svg>

           SKILLS</a
        >
        <a
          href="./contact/"
          class="text-inherit hover:text-purple-800 transition-all duration-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 inline"
          >
            <path
              fill-rule="evenodd"
              d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902 1.168.188 2.352.327 3.55.414.28.02.521.18.642.413l1.713 3.293a.75.75 0 001.33 0l1.713-3.293a.783.783 0 01.642-.413 41.102 41.102 0 003.55-.414c1.437-.231 2.43-1.49 2.43-2.902V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zM6.75 6a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm0 2.5a.75.75 0 000 1.5h3.5a.75.75 0 000-1.5h-3.5z"
              clip-rule="evenodd"></path>
          </svg>

           CONTACT ME</a
        >
      </div>
    </div>
  </div>
</nav>
